<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HistoryRetrieverServlet</servlet-name>
        <servlet-class>pl.polsl.controller.server.servlets.HistoryRetrieverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryAcceptingServlet</servlet-name>
        <servlet-class>pl.polsl.controller.server.servlets.QueryAcceptingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastQueryCookieServlet</servlet-name>
        <servlet-class>pl.polsl.controller.server.servlets.LastQueryCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryRetrieverServlet</servlet-name>
        <url-pattern>/HistoryRetrieverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryAcceptingServlet</servlet-name>
        <url-pattern>/QueryAcceptingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastQueryCookieServlet</servlet-name>
        <url-pattern>/LastQueryCookieServlet</url-pattern>
    </servlet-mapping>
</web-app>
